<p>Welcome to Gladiator Arena! You are a Magister Ludi - the owner of a school of gladiators.</p>

<p>It is your responsibility to nurture your fighters, schedule matches, and win glory (and boatloads of money).</p>

<p>You start out with a group of fighters who are relatively unknown. Schedule your fighters in matches to increase their fame.</p>

<p>Your income is dependant on matches - winning a match allows you to claim the champion prize, while losing a match gets you nothing.
In addition, your fighter gains or loses reputation depending on the outcome of the fight.
Keep in mind that some matches require your fighter to have a minimum reputation in order to participate.</p>

<p>Each arena has a crowd of fans who may or may not show up to the match. The more famous your fighter is, the more people will show up.
The champion prize directly depends on the number of spectators who attend the match (buy tickets)</p>

