<div ng-controller="fighterManagerController">
	<h1> Fighter Manager </h1>
	<div class="container-fluid">
		<div class="row">
			<div ng-if="!managedFighter">
				<h3> Available Fighters: </h3>
				<div class="col-md-3">
					<div  ng-repeat="fighter in fighters">
						<span id="hover" class="glyphicon glyphicon-user" ng-click="selectFighter(fighter.id)"></span>
						{{fighter.name.toTitleCase()}}
						</p>
					</div>
				</div>
			</div>
			<div ng-if="managedFighter">
				<div class="col-md-3" ng-if="!selectedPlan"></div>
				<div id="techniqueBox" class="col-md-3" ng-if="selectedPlan">
					<h4> Techniques </h4>
					<div id="techBook">
						Book of Techniques
					</div>
					<div id="techSlots" ng-repeat="slot in techSlots" class="col-md-3">
						{{slot}}
					</div>
					<div id="ultSlot" class="col-md-3">
						Ultimate Ability
					</div>
				</div>
			</div>

				<div ng-if="loaded.fighters" class="col-md-9">
					<div ng-if="!managedFighter">
						<div id="prevFighterBox" class="col-md-2">
							<h4>{{prevFighter.name.toTitleCase()}} </h4>
							<img id="prevFighterArt" ng-src="{{ getAssetImg(prevFighter.art) }}" />
						</div>
						<div id="selectedFighterBox" class="col-md-4">
							<h3>{{selectedFighter.name.toTitleCase()}} </h3>
							<img id="selectedFighterArt" ng-src="{{ getAssetImg(selectedFighter.art) }}" />
						</div>
						<div id="nextFighterBox" class="col-md-2">
							<h4>{{nextFighter.name.toTitleCase()}} </h4>
							<img id="nextFighterArt" ng-src="{{ getAssetImg(nextFighter.art) }}" />
						</div><br>
					</div>
					<div ng-if="managedFighter">
						<div ng-if="managedFighter">
							<div class="col-md-9" id="managedFighterBox">
								<div class="col-md-3">
									<h4>{{managedFighter.name.toTitleCase()}}</h4>
									<img id="managedFighterArt" ng-src="{{ getAssetImg(managedFighter.art)}}"><br>
									<h4>Trait</h4>
									<t id="{{managedFighter.trait}}" data-toggle="tooltip" data-placement="top" title="{{traits[managedFighter.trait].toTitleCase()}}" ng-mouseOver="activateTooltip(managedFighter.trait)">
										<img id="traitArt"  ng-src="{{getAssetImg(managedFighter.trait+'trait')}}">
									</t><br><br><br>
								</div>
								<div class="col-md-2">

    								<div ng-repeat="plan in plans" ng-if="loaded.plans">
    									Plan {{plan.index}} <br>
										<div id="{{plan.name}}" data-toggle="tooltip" data-placement="top" title="{{plan.name.toTitleCase()}}" ng-mouseOver="activateTooltip(plan.name)">
      										<img id="planArt" ng-src="{{getAssetImg(plan.strategy+'strat')}} " ng-click="selectPlan(plan.index)">

      									</div>
    								</div>
								</div>
								<div id="stratDesc" class="col-md-7" ng-if="selectedPlan">
								<h4> {{traits[managedFighter.trait].toTitleCase()}} {{selectedPlan.name.toTitleCase()}}</h4>
									<div id="stratParamButtons" class="col-md-3" ng-repeat="param in stratParams">
										<p id="{{param}}" style="border: solid thick black; width: 100%; height: 50px;">{{param}}</p>
									</div><br><br>
									<div id="animationBox">
										Animation Box
									</div>
									<div id="bonusBox" class="col-md-8">
										Bonus Box
									</div>
									<div id="rangeBox" class="col-md-4">
										Range Box
									</div>
									<div>
										<div id="experienceAsBox" class="col-md-5">
											Experience As
										</div>

										<div id="experienceBox" class="col-md-5">
											Experience Against
										</div>

										<div id="masteryBox" class="col-md-2">
											Mastery
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="carouselButtons" ng-if="!managedFighter">
					<p class="btn btn-default" ng-click="cycleLeft()">
						<t class="glyphicon glyphicon-arrow-left">
						</t>
					</p>
					<p class="btn btn-primary" ng-click="manageFighter()">
						<t class="glyphicon glyphicon-comment">
						</t>
					</p>
					<p class="btn btn-default" ng-click="cycleRight()">
						<t class="glyphicon glyphicon-arrow-right">
						</t>
					</p>
				</div>
				<div id="managerButtons" ng-if="managedFighter">
					<p class="btn btn-warning" ng-click="backToSelector()">
						<t class="glyphicon glyphicon-home">
						</t>
					</p>
				</div>


		</div>
	</div>
</div>
