<div ng-controller="fightPlannerController">
<h1> Arena </h1>


	<div class="container-fluid">
		<div class="row">
			<div ng-if="!fight.started">
				<h3> Available Fighters: </h3>
				<div class="col-md-3">
					<div  ng-repeat="fighter in fighters">
						<span id="hover" class="glyphicon glyphicon-user" ng-click="selectFighter(fighter.id)"></span>
						{{fighter.name.toTitleCase()}}

						<p ng-if="selectedFighter===fighter.id" class="btn btn-danger" ng-click="placeInCorner(fighter.id, 'red')">Red Corner </p>
						<p ng-if="selectedFighter===fighter.id" class="btn btn-primary"
						ng-click="placeInCorner(fighter.id, 'blue')"> Blue Corner </p>
						</p>
					</div>
				</div>
			</div>
			<h3 ng-if="fight.started">Fight Started!</h3>




			<div ng-repeat="side in sides">

				<div class="col-md-2" ng-if="fight.started && side==='blue'">

					<div ng-if="!animations[side]['dodge'].value">
						<div id="bodyOverlay">
							<div ng-if="animations[side]['blood'].value">
								<img id="fighterBodyArtDamage" ng-src="{{ getAssetImg(corner[side].body_art+'dmg') }}" />
							</div>

							<img id="fighterBodyArt" ng-src="{{ getAssetImg(corner[side].body_art) }}" />

						</div>
					</div>
					<div ng-if="animations[side]['dodge'].value">
						<img id="fighterBodyArtDodging{{side}}" ng-src="{{ getAssetImg(corner[side].body_art) }}" />
					</div>

					<div id="portraitOverlay">
						<div ng-repeat="effect in fastEffects" ng-if="animations[side][effect].value">
							<div id="{{effect}}{{side}}" data-toggle="tooltip" data-placement="top" title="{{effect.toTitleCase()}}" ng-if="activeEffectTooltip(effect, side)">
								<div ng-if="effect!=='dodge'">
									<img id="effectArt{{effect}}" ng-src="{{ getAssetImg(effect) }} " />
								</div>
							</div>
						</div>
						<div ng-repeat="damage in damageTypes" ng-if="animations[side][damage].value">
							<div id="{{damage}}{{side}}">
								
							</div>
						</div>
					</div>
				</div>
			
				<div id="fighter_box" class="col-md-3" >
					<h4>{{corner[side].name.toTitleCase()}}</h4>
					<img id="fighterArt" ng-if="corner[side].status==='art' && !fight.started" ng-src="{{ getAssetImg(corner[side].art) }}" />
					<div ng-if="corner[side].status==='art' && fight.started">
						<img id="fighterArtStarted" ng-src="{{ getAssetImg(corner[side].art) }}" />

						<div id="fightBars" ng-repeat="bar in fightBars">
							<div class="progress">

								<div class="progress-bar {{getBarColor(bar, side)}}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{getBarPercent(bar, side)}}%;">
								<span style="color: black; position: absolute; text-align: left;"> {{bar.toTitleCase()}} </span>
								</div>

							</div>
						</div>
						<div id="roundBars" ng-repeat="bar in roundBars">
							<div class="progress">

								<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{getBarPercent(bar, side)}}%;">
								<span style="color: black; position: absolute; text-align: left;"> {{bar.toTitleCase()}}</span>
								</div>

							</div>
						</div>
						<div id="fightRange" style="color: {{getRangeColor(side)}};">
							{{getRangeWord()}} Range
						</div>
						<div id="modifierBox">
							<h4>Status Effects</h4>

							<t ng-repeat="modifier in modifiers" ng-if="getModifierValue(side, modifier)">
								<t id="{{modifier}}" data-toggle="tooltip" data-placement="top" title="{{modifier.toTitleCase()}}" ng-mouseOver="activateTooltip(modifier)">
									<img id="modifierArt" ng-src="{{ getAssetImg(modifier) }}" />
								</t>
							</t>
							<t ng-repeat="location in injuryLocations" ng-if="corner[side][location]">
								<t id="{{location}}" data-toggle="tooltip" data-placement="top" title="{{corner[side][location].toTitleCase()}}" ng-mouseOver="activateTooltip(location)">
									<img id="modifierArt" ng-src="{{ getAssetImg(location) }}" />
								</t>
							</t>
						</div>
					</div>
					<div ng-if="corner[side].status==='stats'">
						<h5><t ng-if="!show[side].skills"> Noteworthy</t> Skills </h5>
						<div id="allSkillBars">
							<div id="skillBars" ng-repeat="skill in skills">
								<div class="progress" ng-if="getSkillColor(cSkills[side][skill.name]) !== 'progress-bar-info' || show[side].skills">
									<div class="progress-bar {{getSkillColor(cSkills[side][skill.name])}}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{cSkills[side][skill.name]}}%;">
									 	<t style="color: black;">{{skill.name.toTitleCase()}}</t>
									</div>
								</div>
							</div>
							<p class="btn btn-primary "ng-if="!show[side].skills" ng-click="showAllSkills(side)"> Show All </p>  
							<p class="btn btn-primary" ng-if="show[side].skills" ng-click="hideAllSkills(side)"> Show Noteworthy Skills</p>
						</div>
					</div>
					<div ng-if="corner[side].status==='strategy'">
						<h5> {{strat[side].name.toTitleCase()}} - EXP: {{experience[side][strat[side].id].as}} </h5>
						Initiation Frequency: {{strat[side].initiation_frequency}}
						<br>
						Cardio expendature: {{strat[side].base_cardio}} and {{strat[side].initiation_cardio}} when initiating <br>
						Difficulty: {{strat[side].difficulty}} <br>
						Optimal Range: {{strat[side].range}} <br>
						<h5> Bonuses: </h5>
						<div ng-repeat="bonus in cStratBonuses[side]">
							{{bonus.name.toTitleCase()}} - {{bonus.value}}%
						</div>
						<p class="btn btn-primary" ng-if="(!fight.started || fight.paused) && !corner[side].changeStrat" ng-click="showChangeStratInput(side)">Change Strategy</p>
						
						<div ng-if="corner[side].changeStrat">
				            <select class="form-control" ng-change="updateSelectedStrat(side)" ng-model="corner[side].changeStratID">
				            	<option value=false>---View strats---</option>
				                <option ng-selected="strategy.id===corner[side].strategy" value="{{strategy.id}}" ng-repeat="strategy in strats">{{strategy.name.toTitleCase()}} Exp: {{experience[side][strategy.id].as}}</option>
				            </select>
				            
				            <p class="btn btn-primary" ng-click="hideChangeStratInput(side)"> OK </p>
						</div>

					</div>
					<span ng-if="corner[side].selected && (!fight.started || fight.paused)">
						<p class="btn btn-primary" ng-click="artStatus(side)">Art</p>
						<p class="btn btn-primary" ng-click="statsStatus(side)">Stats</p>
						<p class="btn btn-primary" ng-click="strategyStatus(side)">Strategy</p>
					</span>
				</div>
				<div class="col-md-2" ng-if="fight.started && side==='red'">

					<div ng-if="!animations[side]['dodge'].value">
						<div id="bodyOverlay">
							<div ng-if="animations[side]['blood'].value">
								<img id="fighterBodyArtDamage" ng-src="{{ getAssetImg(corner[side].body_art+'dmg') }}" />
							</div>

							<img id="fighterBodyArt" ng-src="{{ getAssetImg(corner[side].body_art) }}" />

						</div>
					</div>
					<div ng-if="animations[side]['dodge'].value">
						<img id="fighterBodyArtDodging{{side}}" ng-src="{{ getAssetImg(corner[side].body_art) }}" />
					</div>

					<div id="portraitOverlay">
						<div ng-repeat="effect in fastEffects" ng-if="animations[side][effect].value">
							<div id="{{effect}}{{side}}" data-toggle="tooltip" data-placement="top" title="{{effect.toTitleCase()}}" ng-if="activeEffectTooltip(effect, side)">
								<div ng-if="effect!=='dodge'">
									<img id="effectArt{{effect}}" ng-src="{{ getAssetImg(effect) }} " />
								</div>
							</div>
						</div>
						<div ng-repeat="damage in damageTypes" ng-if="animations[side][damage].value">
							<div id="{{damage}}{{side}}">
								
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="row">
			<div id="fightButton">
				<p class="btn btn-danger" ng-if="corner['blue'].selected && corner['red'].selected && !fight.started" ng-click="evaluateFight()"> Fight! </p>
				<span><p class="btn btn-primary" ng-click="reset()" ng-if="fight.stopped"> Reset </p></span>
				<spam><p class="btn btn-primary" ng-click="startNextRound()" ng-if="!fight.stopped && fight.paused"> Start Next Round</p></spam>
			</div>

		</div>
		<div class="row" ng-if="fight.started">
			<div class="col-md-4"></div>
			<div  id="transcript" class="col-md-4">
				<h3 ng-if="victor.side && victor.side !=='tie' && fight.stopped">{{corner[victor.side].name.toTitleCase()}} Wins!</h3>
				<h3 ng-if="victor.side==='tie' && fight.stopped">Tie!</h3>
				<b>{{winningRounds['red']}} - {{winningRounds['blue']}}</b> <br>
				<b> Round {{fight.round}} Transcript </b><br>
				<div id="overflow">
					<div ng-repeat="msg in transcript track by $index">
						<t ng-if="msg">{{$index}} - {{msg.toTitleCase()}} </t>
					</div>
				</div><br>

			</div>
		</div>
	</div>
</div>