<div ng-controller="authController">
    <div id="formContainer" ng-hide="authenticated">
        <form class= "form-signin">
            <h2>Create a new account</h2>
            <div id="serverMsg"><!-- auto-gen content here --></div>

            <div class="error">{{errors.email}}</div>
            <input type="email" class="form-control" name="email" id="email" placeholder="Your email" required="true" />

            <div class="error">{{errors.username}}</div>
            <input type="text" class="form-control" name="username" id="username" required="true"
                placeholder="Create a trainer name" />


            <div class="error">{{errors.teamname}}</div>
            <input type="text" class="form-control" name="teamname" id="teamname" required="true"
                placeholder="Create a fight team name" />


            <div class="error">{{errors.password}}</div>
            <input type="password" class="form-control" name="password" id="password" required="true"
                placeholder="Create a password"
                minlength="5"
                title="Your password must be a minimum of 5 characters long" />

            <div class="error">{{errors.passwordRepeat}}</div>
            <input type="password" class="form-control" name="passwordRepeat" id="password-repeat" required="true"
                placeholder="Type your password again" />

            <button type="button" class="btn btn-large btn-primary btn-block" ng-click="register($event)">Create My Account</button>
        </form>
    </div> <!-- end formContainer -->
    <div id="successDiv" ng-show="authenticated">
        Congratulations! You have created an account with the email address <span class="email">{{getEmail()}}</span>
    </div>
</div>