#hover {
	cursor: pointer;
}


#fighter_box {
	position: relative;
	height: 400px;
	margin: 10px;
	border: thick black solid;
}

#modifierBox {
	position: relative;
	margin: 5px;
	height: 50%;
}



@keyframes slideLeft {
	0%{
		margin-left: 0px;
	}
	100%{
		margin-left: 1000px;
	}
}



#animate {

  animation: slideLeft 4s 1s linear;

}

#fighter_box span {
   position: absolute;
   bottom: 0;

}

#fightRange {
	position: absolute;
	left: 0%;
	top: 43%;

}

#fightBars {
	position: relative;

	left: 35%;
	width: 60%;
}
#roundBars {
	position: relative;

	left: 35%;
	width: 60%;
}
#skillBars {
	position: : relative;

}

#allSkillBars {

	overflow: scroll;
	height: 300px;
}

#fighterArt{

	position: absolute;

	left: 8%;

	height:75%;
	width: 75%;

}

#fighterArtStarted{
	position: absolute;

	left: 0%;

	height:30%;
	width: 30%;
}

#fightButton{
	text-align: center;
}

#transcript {
	position: relative;
	height: 400px;
}

#overflow {
	overflow: scroll;
	height: 300px;
}

#transcript span {
	position: absolute;
	bottom: 0;
}

#distanceBar {
	width: 400px;
}