#hover {
	cursor: pointer;
}

#prevFighterArt {
	height: 90%;
}

#prevFighterBox {
	position: relative;
	height: 200px;
	width: 15%;
	
	overflow: none;
	text-align: top;
}

#selectedPlan {
	border: thick red solid;
}

#nextFighterBox {
	position: relative;
	height: 200px;
	width: 15%;

	overflow: none;
	text-align: top;
}

#selectedFighterBox {
	position: relative;
	height: 400px;
	width: 30%;
	
	overflow: none;
	text-align: top;
}

#managedFighterBox {
	position: relative;
	height: 400px;
	width: 100%;
	overflow: none;
	text-align: top;
}

#techBook {
	height: 250px;
	overflow: scroll;
	width: 100%;
	border: thick black solid;
}

#techSlots {
	height: 60px;
	border: thick black solid;
}

#ultSlot {
	height:70px;
	border: thick black solid;
}

#techniqueBox {
	height:400px;
	border: thick black solid;
}

#managedFighterArt {
	width: 100%;
}

#traitArt{
	width: 40%;
	border-radius: 10%;
}

#nextFighterArt {
	height: 200px;
}

#animationBox {
	width: 100%;
	height: 150px;
	border: black thick solid;
	border-top: none;
}

#bonusBox{
	height:80px;

	border: black thick solid;
}

#rangeBox{
	height:80px;

	border: black thick solid;
}


#selectedFighterArt {
	height: 90%;
}

#stratParamButtons {
	text-align: center;
}

#managerButtons {
	position: relative;
	margin-left: 60%;
}

#carouselButtons {
	position: relative;
	margin-left: 45%;
}

#stratDesc {
	border: thick solid black;
	height: 400px;
}

#planArt{
	height: 93px;
	cursor: pointer;
	border-radius: 20%;
}

#planName {
	margin-left: 10%;
}