#hover {
	cursor: pointer;
}


#fighter_box {
	position: relative;
	height: 400px;
	margin: 10px;
	border: thick black solid;
}

#fighter_box span {
   position: absolute;
   bottom: 0;

}

#fightRange {
	position: absolute;
	left: 0%;
	top: 43%;

}

#fightBars {
	position: relative;

	left: 35%;
	width: 60%;
}

#fighterArt{

	position: absolute;

	left: 8%;

	height:75%;
	width: 75%;

}

#fighterArtStarted{
	position: absolute;

	left: 0%;

	height:30%;
	width: 30%;
}

#fightButton{
	text-align: center;
}

#transcript {
	position: relative;
	height: 400px;
}

#overflow {
	overflow: scroll;
	height: 300px;
}

#transcript span {
	position: absolute;
	bottom: 0;
}

#distanceBar {
	width: 400px;
}