body {
	padding-top: 70px;
}

.navbar-right {
    padding-right: 20px;
}

.navbar-right .navbar-text#username, .navbar-text#charname {
    color: #ccc !important;
}

.navbar p {
	margin-right: 3px;
	margin-left: 3px;
	/*padding: auto 0;*/
}

.navbar #username {
	margin-right: 15px;
}