div.inner-container {
    margin: 30px auto 20px auto;
    background-color: #fff; 

    padding: 20px;

    /* pretty border */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.panel {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.panel-title {
    padding: 5px;

    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    font-weight: normal;
}

.panel-content {
    padding: 5px;
}

body {
    padding-top: 40px !important;
    background-color: #efefef !important;
}

.prototype {
    display: none;
}

input, select {
    margin-bottom: 10px;
}

#serverMsg.error {
    color: red;
    font-size: .9em;
}

.serverMsg.success {
    color: green;
}